.grid-container{
  margin-top: 0.5%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 0;
}
#icon1{
  fill: var(--bs-primary);
}
#adrTitle{
  font-size: calc(1vw + 1vh);
}
.status{
  text-align: right;
  margin-right: 30%;
  margin-top:15%;
  font-size: calc(0.5vw + 1vh);
}

#adrDetailview{
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}
.accordion-button{
  background-color: var(--bs-light-bg-subtle) !important;
  color: var(--bs-primary);
}

#commitIcon{
  margin-left: 4%;
  margin-right: 0.5%;
  width: 30px;
  height: 30px;
  fill: var(--bs-primary);
 }

#commit{
  text-align: left;
  font-size: 1.1em;
}

#date{
  font-size: 1.1em;
  text-align: right;
  margin-right: 10%;
}

.affectedAdr {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.affectedAdr:hover {
  color: darkblue;
  text-decoration: underline;
}

