<div class="grid-container">
  <h2 class="m-lg-3" id="adrTitle">
    <svg xmlns="http://www.w3.org/2000/svg" width="8%" height="75%"
         class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16" id="icon1">
      <path fill-rule="evenodd"
            d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
    </svg>
    {{adrById.title}}</h2>

  <div *ngIf="isActive(adrById.status)then active; else deprecated"></div>
  <ng-template #active>
    <div class="status">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="forestgreen">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      {{adrById.status}}
    </div>
  </ng-template>
  <ng-template #deprecated>
    <div class="status">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red">
        <circle cx="8" cy="8" r="8"/>
      </svg>
      {{adrById.status}}
    </div>
  </ng-template>
</div>


<div class="accordion" id="adrDetailview">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#context"
              aria-expanded="true" aria-controls="context">
        Context
      </button>
    </h2>
    <div id="context" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {{adrById.context}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#decision"
              aria-expanded="false" aria-controls="decision">
        Decision
      </button>
    </h2>
    <div id="decision" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{adrById.decision}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#consequences" aria-expanded="false" aria-controls="consequences">
        Consequences
      </button>
    </h2>
    <div id="consequences" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{adrById.consequences}}
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#artifacts" aria-expanded="false" aria-controls="artifacts">
          Artifacts
        </button>
      </h2>
      <div id="artifacts" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div *ngFor="let artifact of adrById.artifacts">
          {{artifact.name}}
          <div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#relations"
              aria-expanded="false" aria-controls="relations">
        Relations
      </button>
    </h2>
    <div id="relations" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{adrById.relations}}
      </div>
    </div>
    <!-- Solange Commit nicht ausgelesen wird auskommentiert -->
    <!--  <div id="commit">
        <svg xmlns="http://www.w3.org/2000/svg"  class="bi bi-link-45deg" id="icon2">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
        </svg>
      </div> -->
    </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div id="commit">
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-diagram-3-fill" id="commitIcon" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
            d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5z"/>
    </svg>
    Commit {{adrById.commit}}
  </div>
  <div id="date">
    {{adrById.date}}
  </div>
</div>
