
#adrDetailview{
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}

.accordion-button{
  background-color: var(--bs-light-bg-subtle) !important;
  color: var(--bs-primary);
}

#icon1{
  fill: rgb(46,84,235);
}

 .grid-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 0%;
 }
 .status{
   text-align: right;
   margin-right: 6%;
   margin-top: 3%;
   font-size: 1.3em;
 }

