<div class="m-lg-3" >
  <button class="btn btn-outline-secondary" type="button"
          (click)="loadAdrs()">Load ADRs
  </button>
</div>

<div class="flex" *ngIf="adrsLoaded; else noADRs">
  <div class="flex-item">
    <div style="display: block;">
      <canvas baseChart width="400" height=200
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [type]="'bar'">
      </canvas>
    </div>
  </div>
</div>

<ng-template #noADRs>
  <div class="container mt-4">
    <div class="card bg-light">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>No ADRs found. Please make sure you imported ADRs from a project successfully.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
