<div class="container">
  <div class="m-lg-3 w-25">
    <label class="mb-2 m-lg-1" for="visualizationType">Select Use Case:</label>
    <select class="form-select" id="visualizationType" aria-label="Select Visualization Type" [(ngModel)]="selectedVisualization">
      <option selected value="bar" (click)="loadAdrs()">Artifacts</option>
     <!--<option value="line" (click)="loadAdrs()">LineChart</option>-->
      <option selected value="graph" (click)="loadAdrs()">Relations</option>
      <option selected value="pie" (click)="loadAdrs()">Status</option>
      <option selected value="lifecycle" (click)="loadAdrs()">ADR-Lifecycle</option>
      <!-- <option selected value="timeline" (click)="loadAdrs()">ADR-Timeline</option> -->
  </select>
  </div>

  <div class="flex container" *ngIf="adrsLoaded; else noADRs">
    <app-barchart *ngIf="selectedVisualization === 'bar'" [adrs]="adrs"></app-barchart>
    <!--<app-linechart *ngIf="selectedVisualization === 'line'" [adrLabels]="adrLabels" [adrArtifactNumbers]="adrArtifactNumbers"></app-linechart>-->
    <app-relation-graph *ngIf="selectedVisualization === 'graph'" [adrs]="adrs"></app-relation-graph>
    <app-piechart *ngIf="selectedVisualization === 'pie'" [adrs]="adrs"></app-piechart>
    <app-lifecycle *ngIf="selectedVisualization === 'lifecycle'" [adrs]="adrs"></app-lifecycle>
   <!-- <app-timeline *ngIf="selectedVisualization === 'timeline'" [adrs]="adrs" [importTaskId]="importTaskId"></app-timeline> -->
  </div>

  <ng-template #noADRs>
    <div class="container mt-4">
      <div class="card bg-light">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <p>No ADRs found. Please make sure you imported ADRs from a project successfully.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
