<div class="container" *ngIf="showADRs">

  <div class="mt-4 ms-4">
    <ngb-pagination
      class="d-flex justify-content-center"
      [collectionSize]="pageCount * limit"
      [page]="pageOffset+1"
      (pageChange)="onPage($event-1)"
      [maxSize]="pageCount">
        <ng-template ngbPaginationPrevious>Previous</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
  </div>

  <ul class="list-group m-lg-3">
    <input class="input-group my-3  border border-secondary rounded py-1" type="text" [(ngModel)]="searchText" placeholder=" Search ADR by title..." />
    <li [ngStyle]="{'background-color' : (i % 2 == 0) ? 'transparent' : 'dark'}"
        class="list-group-item list-group-item-dark "
        *ngFor="let adr of adrs; let i = index"
        (click)="onSelect(adr)">
      <div class="row align-items-center m-2">
        <div class="col-sm-1">
          {{pageOffset*limit+i+1}}
        </div>
        <div class="col-sm">
          {{adr.title}}
        </div>

        <div class="col-sm-2" *ngIf="isActive(adr.status); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-2">
            <div class="text-end text-success">
              {{adr.status}}
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="col-sm-2">
            <div class="text-end text-danger">
              {{adr.status}}
            </div>
          </div>
        </ng-template>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="isLoading">
  <div class="container mt-4">
    <div class="card bg-light">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>Loading data ...</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
