<div *ngIf="showADRs">
  <h2 class="m-lg-3">ADRs in project:</h2>
  <ul class="adrs m-lg-3 list-group">
    <li class="list-group-item list-group-item-info" *ngFor="let adr of adrs">
      <div><span class="">id: </span>{{adr.id}}</div>
      <div><span>title: </span>{{adr.title}}</div>
      <div><span>context: </span>{{adr.context}}</div>
      <div><span>decision: </span>{{adr.decision}}</div>
      <div><span>status: </span>{{adr.status}}</div>
      <div><span>consequences: </span>{{adr.consequences}}</div>
      <div><span>artifacts: </span>{{adr.artifacts}}</div>
      <div><span>relations: </span>{{adr.relations}}</div>
    </li>
  </ul>
</div>

<div *ngIf="showEmpty">
  The requested repository has no ADRs...
</div>

<div *ngIf="isLoading">
  Loading data...
</div>
