<div class="container" *ngIf="showADRs">
  <ul class="list-group m-lg-3">
    <li class="list-group-item list-group-item-dark" *ngFor="let adr of adrs">
      <div class="row align-items-center">
        <div class="col-sm">
          {{adr.title}}
        </div>

        <div class="col-sm-2" *ngIf="isActive(adr.status); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="col-sm-2">
            <div class="text-end text-success">
              {{adr.status}}
            </div>
          </div>
        </ng-template>
        <ng-template #elseBlock>
          <div class="col-sm-2">
            <div class="text-end text-danger">
              {{adr.status}}
            </div>
          </div>
        </ng-template>

        <div class="col-sm-2">
          <div class="text-end">
            <button type="button" class="btn btn-link">Details</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="showEmpty">
  The requested repository has no ADRs...
</div>

<div *ngIf="isLoading">
  Loading data...
</div>
