<div class="container">
  <div class="m-lg-3 mb-3">
    <label class="mb-2 m-lg-1" for="relationType">Choose relation:</label>
    <select class="form-select" id="relationType" aria-label="Select Visualization Type" [(ngModel)]="selectedRelation" (change)="getRelationsByTypeAndCreateGraph()">
      <option  value="enables " selected>enables</option>
      <option  value="is enabled by ">is enabled by</option>
      <option  value="extends ">extends</option>
      <option  value="is extended by ">is extended by</option>
      <option  value="deprecates ">deprecates</option>
      <option  value="is deprecated by ">is deprecated by</option>
      <option  value="is related to ">is related to</option>
    </select>
  </div>
    <div #networkContainer class="network-container" id="mynetwork"></div>
  <h2 id="eventSpanHeading"></h2>
  <pre id="eventSpanContent"></pre>
</div>



